<h1>Login</h1>
<div ng-controller="LoginCtrl">
  <form name="form" ng-submit="submit()" novalidate>

    <div class="control-group" ng-class="error('firstname')">
      <label class="control-label" for="firstname">Firstname</label>
      <div class="controls">
        <input id="firstname" name="firstname" type="text"
          ng-model="user.firstname" placeholder="Firstname" required/>
        <span class="help-block"
          ng-show="form.firstname.$invalid && form.firstname.$dirty">
          Firstname is required
        </span>
      </div>
    </div>

    <div class="control-group" ng-class="error('lastname')">
      <label class="control-label" for="lastname">Lastname</label>
      <div class="controls">
        <input id="lastname" name="lastname" type="text"
          ng-model="user.lastname" placeholder="Lastname" required/>
        <span class="help-block"
          ng-show="form.lastname.$invalid && form.lastname.$dirty">
          Lastname is required
        </span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
       <a href="#/notes" ><button ng-disabled="form.$invalid" class="btn">Submit</button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
       <a href="#/register" ><button  class="btn">Register</button>
      </div>
    </div>
  </form>
</div>
